.gallery {
  height: 166px;
  margin-top: 30px;
  .container-fluid {
    height: 100%;
    .row {
      height: 100%;
      position: relative;
      .col-md-12 {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 100%;
        padding: 0;
        img {
          width: 100%;
        }
      }
      .ins {
        width: 200px;
        height: 40%;
        border-radius: 10px;
        background: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include flex();
        a {
          text-decoration: none;
          color: $main;
          font-size: 22px;
        }
      }
    }
  }
}
