.newsletter {
  margin-top: 100px;
  background: #F7F7F7;
  height: 400px;
  user-select: none;
  .container-fluid {
    height: 100%;
    .row {
      height: 100%;
      align-items: center;
      justify-content: center;
      .col-md-12 {
        text-align: center;
        h2 {
          font-family: Bergen-Sans, sans-serif;
          color: $main;
          font-size: 36px;
          margin-bottom: 1rem;
        }
        p {
          margin-bottom: 2rem;
        }
        .submit-form {
          height: 55px;
          width: 60%;
          margin: 0 auto;
          display: grid;
          grid-template-columns: 75% 25%;
          gap: 5px;
          font-family: "Roboto", sans-serif;
          &__input {
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            outline: none;
            box-shadow: 0 5px 5px #cfcfcf;
            font-size: 18px;
          }
          button {
            border: none;
            border-radius: 5px;
            color: $white;
            background-color: $main;
            font-size: 18px;
          }
        }
      }
    }
  }
}
