.posts {
  height: 500px;
  font-family: Bergen-Sans, sans-serif;
  margin-top: 50px;
  .container-fluid {
    .row {
      .col-md-12 {
        &:nth-child(1) {
          text-align: center;
          margin: 1.2rem 0;
          h2 {
            font-size: 32px;
            color: $main;
          }
        }
        &:nth-child(2) {
          .row {
            .col-md-4 {
              position: relative;
              padding: 15px;
              img {
                width: 100%;
                border-radius: 8px;
              }
              .post-text {
                &__author {
                  font-size: 16px;
                  color: gray;
                  margin: 1rem 0 0.8rem 0;
                }
                &__title {
                  font-size: 24px;
                  color: $black;
                }
              }
              .date {
                position: absolute;
                bottom: 30px;
                @include flex();
                flex-direction: column;
                width: 80px;
                height: 80px;
                left: 35px;
                bottom: 150px;
                background-color: $white;
                border-radius: 50%;
                font-family: "Roboto", sans-serif;
                p {
                  margin-bottom: 0;
                  font-size: 18px;
                  color: $black;
                }
                &__number {
                  font-weight: 400;
                }
                &__month {
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }
  }
}
