@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin full {
  width: 100%;
  height: 100%;
}
@mixin anime($name, $f-top, $top, $left) {
  animation: $name 0.5s ease;
  animation-iteration-count: 1 !important;
  @keyframes #{$name} {
    0% {
      opacity: 0;
      top: $f-top;
    }
    100% {
      opacity: 1;
      top: $top;
      left: $left;
    }
  }
}

@mixin media($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}